* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #232323;
    width: 100vw;
    height: 100vh;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 5rem auto 0 auto;
    width: fit-content;
    height: fit-content;
}

#canvas {
    /* 10x20 */
    width: 320px;
    height: 640px;
}

.fps-counter {
    color: lightgreen;
    font-size: 36px;
    margin: 1rem 0 0 1rem;
    user-select: none;
    cursor: default;
}