* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #232323;
    width: 100vw;
    height: 100vh;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 5rem auto 0 auto;
    width: fit-content;
    height: fit-content;
}

#canvas {
    /* 10x20 */
    width: 320px;
    height: 640px;
}

.fps-counter {
    color: lightgreen;
    font-size: 36px;
    user-select: none;
    cursor: default;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.start-btn {
    width: 5rem;
    height: 3rem;
    border: none;
    font-size: 1.2rem;
    background-color: #83d1fc;
    border-radius: 3px;
    transition: scale 50ms ease-in;
}

.start-btn:hover {
    cursor: pointer;
    background-color: #3eaaea;
    scale: 1.05;
}